<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noso.board.dao.BoardDao">
    <select id="selectAll" resultType="BoardDTO">
        SELECT * FROM tbl_board;
    </select>
    <insert id="insert" parameterType="BoardDTO">
        INSERT INTO tbl_board(b_title, b_name, b_date, b_content)
        VALUES (#{b_title}, #{b_name},#{b_date},#{b_content})
    </insert>
</mapper>